# Single Cell

We will look at this data:
https://singlecell.broadinstitute.org/single_cell/study/SCP865/hca-lungmap-covid-19-adipose

In [1]:
!ls data/broad

adipose.UMAP.txt       adipose.expression.txt adipose.meta.txt

In [2]:
!head data/broad/adipose.UMAP.txt

NAME	X	Y
TYPE	numeric	numeric
AAACCTGAGATATACG	13.832274	-3.8360646
AAACCTGAGGCATTGG	1.3423508	9.595373
AAACCTGAGTCATGCT	4.627756	1.7991548
AAACCTGCAATGAAAC	-0.15922116	4.1327863
AAACCTGCACGGCCAT	13.137728	-1.8893071
AAACCTGGTAGCAAAT	13.584308	-1.1564171
AAACCTGTCAATAAGG	0.9838462	-9.434347
AAACCTGTCCGTCATC	12.44192	5.4913135

In [3]:
import pandas as pd

In [4]:
umap = pd.read_csv('data/broad/adipose.UMAP.txt',sep='\t')

In [5]:
umap

                                NAME            X           Y
0                               TYPE      numeric     numeric
1                   AAACCTGAGATATACG    13.832274  -3.8360646
2                   AAACCTGAGGCATTGG    1.3423508    9.595373
3                   AAACCTGAGTCATGCT     4.627756   1.7991548
4                   AAACCTGCAATGAAAC  -0.15922116   4.1327863
...                              ...          ...         ...
11163  adipose_02_c_TTTGTCAAGCTTTGGT    -4.056343   2.0832224
11164  adipose_02_c_TTTGTCAGTCCGCTGA    -1.615156  -3.1901033
11165  adipose_02_c_TTTGTCAGTCTAGTGT     6.174263   -5.691691
11166  adipose_02_c_TTTGTCATCCCTCTTT     4.659737    10.94814
11167  adipose_02_c_TTTGTCATCGGCCGAT    1.2501097  -10.288689

[11168 rows x 3 columns]

In [6]:
expression = pd.read_csv('data/broad/adipose.expression.txt',sep='\t')

In [7]:
expression

,Unnamed: 0,AAACCTGAGATATACG,AAACCTGAGGCATTGG,AAACCTGAGTCATGCT,AAACCTGCAATGAAAC,AAACCTGCACGGCCAT,AAACCTGGTAGCAAAT,AAACCTGTCAATAAGG,AAACCTGTCCGTCATC,AAACCTGTCGGAGCAA,...,adipose_02_c_TTTGGTTGTCACCTAA,adipose_02_c_TTTGGTTTCACAGTAC,adipose_02_c_TTTGGTTTCAGCATGT,adipose_02_c_TTTGGTTTCCGCAAGC,adipose_02_c_TTTGTCAAGCCGCCTA,adipose_02_c_TTTGTCAAGCTTTGGT,adipose_02_c_TTTGTCAGTCCGCTGA,adipose_02_c_TTTGTCAGTCTAGTGT,adipose_02_c_TTTGTCATCCCTCTTT,adipose_02_c_TTTGTCATCGGCCGAT
0,ACE2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,TMPRSS2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,IL6R,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,IL6ST,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,PCSK1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,IL6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,PCSK2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,CTSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,MYRF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,MAG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,MOG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,MBP,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
12,PLP1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,FURIN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,PCSK4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,PCSK5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16,PCSK6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,PCSK7,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0
18,C1R,11.0,0.0,0.0,0.0,15.0,3.0,0.0,7.0,9.0,...,0.0,0.0,7.0,0.0,19.0,0.0,0.0,6.0,0.0,0.0
19,C2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,C3,5.0,0.0,0.0,0.0,11.0,0.0,1.0,1.0,1.0,...,0.0,0.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0
21,C5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,CFI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
23,CTSS,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,3.0,17.0,0.0,0.0
24,CTSL,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,2.0,...,0.0,0.0,1.0,0.0,3.0,1.0,1.0,0.0,0.0,0.0
25,CTSB,0.0,0.0,0.0,0.0,1.0,0.0,4.0,1.0,0.0,...,0.0,1.0,0.0,0.0,2.0,0.0,0.0,8.0,0.0,0.0
26,CTSC,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0,2.0,0.0

In [8]:
meta = pd.read_csv('data/broad/adipose.meta.txt',sep='\t')

In [9]:
meta

,NAME,original_cell_subset,CellType,Patient_ID,filename,dataset,nUMIs,Sample_ID,Gender,Age,barcodes,Count
0,TYPE,group,group,group,group,group,numeric,group,group,group,group,numeric
1,AAACCTGAGATATACG,APOD+Fibroblast,Stromal (Fibroblast),0,adipose,Adipose_Healthy_Manton_unpublished,5036,adipose003_c,NaN,NaN,AAACCTGAGATATACG,1
2,AAACCTGAGGCATTGG,TCells,Immune (Lymphocyte),0,adipose,Adipose_Healthy_Manton_unpublished,1035,adipose003_c,NaN,NaN,AAACCTGAGGCATTGG,1
3,AAACCTGAGTCATGCT,vSMC,Stromal (SMC),0,adipose,Adipose_Healthy_Manton_unpublished,3137,adipose003_c,NaN,NaN,AAACCTGAGTCATGCT,1
4,AAACCTGCAATGAAAC,Endothelial-1,Stromal (Endothelial),0,adipose,Adipose_Healthy_Manton_unpublished,1027,adipose003_c,NaN,NaN,AAACCTGCAATGAAAC,1
...,...,...,...,...,...,...,...,...,...,...,...,...
11163,adipose_02_c_TTTGTCAAGCTTTGGT,ACKR1+Endothelial-2,Stromal (Endothelial),2,adipose,Adipose_Healthy_Manton_unpublished,5337,adipose_02_c,NaN,NaN,adipose_02_c_TTTGTCAAGCTTTGGT,1
11164,adipose_02_c_TTTGTCAGTCCGCTGA,Mono/DC,Immune (Myeloid),2,adipose,Adipose_Healthy_Manton_unpublished,8814,adipose_02_c,NaN,NaN,adipose_02_c_TTTGTCAGTCCGCTGA,1
11165,adipose_02_c_TTTGTCAGTCTAGTGT,Mono/DC,Immune (Myeloid),2,adipose,Adipose_Healthy_Manton_unpublished,11910,adipose_02_c,NaN,NaN,adipose_02_c_TTTGTCAGTCTAGTGT,1
11166,adipose_02_c_TTTGTCATCCCTCTTT,TCell,Immune (Lymphocyte),2,adipose,Adipose_Healthy_Manton_unpublished,2516,adipose_02_c,NaN,NaN,adipose_02_c_TTTGTCATCCCTCTTT,1
11167,adipose_02_c_TTTGTCATCGGCCGAT,Macrophages,Immune (Macrophage),2,adipose,Adipose_Healthy_Manton_unpublished,1162,adipose_02_c,NaN,NaN,adipose_02_c_TTTGTCATCGGCCGAT,1

In [10]:
gene_expression = expression.iloc[[1]].T

In [11]:
gene_expression

                                     1
Unnamed: 0                     TMPRSS2
AAACCTGAGATATACG                     0
AAACCTGAGGCATTGG                     0
AAACCTGAGTCATGCT                     0
AAACCTGCAATGAAAC                     0
...                                ...
adipose_02_c_TTTGTCAAGCTTTGGT        0
adipose_02_c_TTTGTCAGTCCGCTGA        0
adipose_02_c_TTTGTCAGTCTAGTGT        0
adipose_02_c_TTTGTCATCCCTCTTT        0
adipose_02_c_TTTGTCATCGGCCGAT        0

[11168 rows x 1 columns]

In [12]:
expressed = gene_expression[gene_expression[1] != 0]

In [13]:
expressed

                                     1
Unnamed: 0                     TMPRSS2
AGTGGGAGTACAAGTA                     1
CACCTTGGTCTCCCTA                     1
GACTAACAGACCACGA                     1
GGCTGGTTCACCATAG                     1
GGGAGATGTGTCAATC                     1
GGGCATCCACGAGAGT                     1
TAGGCATCACTTCTGC                     1
TTGCCGTAGACGACGT                     1
adipose003_l_ACGGGCTAGAGCTGCA        1
adipose003_l_AGGCCGTCACCTATCC        1
adipose003_l_CCCAGTTTCACTTCAT        1
adipose003_l_CCGTACTAGCTGATAA        1
adipose003_l_CGTCTACCATCACCCT        1
adipose003_l_GTAACGTGTACCAGTT        1
adipose003_l_TACTCGCAGATAGGAG        1
adipose003_l_TTGGCAAAGGCATGGT        1
adipose_02_c_AAACCTGTCTAGCACA        1
adipose_02_c_ACGCCGACAACTGCTA        1
adipose_02_c_CATGACACAAGTTGTC        1
adipose_02_c_CTGGTCTCACTAGTAC        1
adipose_02_c_GACGTTATCAACGGGA        1
adipose_02_c_GGACGTCCATGCCTTC        1
adipose_02_c_TGAGAGGTCACAGGCC        1